<!DOCTYPE html>
  <html>
  <head>
    <title>CircleFinder</title>
    <link rel="stylesheet" href="/css/bootstrap.css" />
    <link rel="stylesheet" href="/css/style.css" />
    <!-- Compiled and minified CSS -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://code.jquery.com/jquery-2.0.0.min.js"></script>
    <script type="text/javascript" src="/js/detail.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  </head>
  <body>
    <div class="container">

    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">サークルファインダー</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="sass.html"><i class="material-icons">search</i></a></li>
          {{#if user}}
          <li>Hello {{user.username}}</li>
          <li><a href="/users/logout">Logout</a></li>
          {{else}}
          <li><a href="/users/login">Login</a></li>
          <li><a href="/users/register">Register</a></li>
          {{/if}}
          <li><a href="/">サークル一覧</a></li>
        </ul>
      </div>
    </nav>

    <!-- <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation"><a href="/">サークル一覧</a></li>
        {{#if user}}
        <li role="presentation"><a>Hello {{user.username}}</a></li>
        <li role="presentation"><a href="/users/logout">Logout</a></li>
          {{else}}
        <li role="presentation"><a href="/users/login">Login</a></li>
        <li role="presentation"><a href="/users/register">Register</a></li>
        {{/if}}
      </ul>
    </nav>
    <h3 class="text-muted"><a href="/">サークルファインダー</a></h3>
  </div> -->


  <div class="row">
    <div class="col-lg-12">
      {{#if success_msg}}
        <div class="alert alert-success">{{success_msg}}</div>
      {{/if}}

      {{#if error_msg}}
        <div class="alert alert-danger">{{error_msg}}</div>
      {{/if}}

      {{#if error}}
        <div class="alert alert-danger">{{error}}</div>
      {{/if}}


      {{{body}}}


    </div>
  </div>

  <footer class="footer">
    <p>&copy; 2016 CircleFinder, Inc.</p>
  </footer>

</div> <!-- /container -->
      <!-- <script type="text/javascript" src="js/materialize.min.js"></script> -->
  </body>
  </html>
